/* FOOTER STYLES */

footer { 
	margin: auto;
	width: 100%;
	min-height: 115px;
	position: relative;
	top: 450px;
	background-image: url(../images/starry_sky.jpg);
	box-shadow: 0px -10px 8px rgba(0, 0, 0, 0.5);
	z-index: 2;
    text-align: center;
}


/* FOOTER LOGO + INFO STYLES */
.footer_wrapper_logo {
	float: left;
	clear: right;
	/*border: red solid 3px;*/
	margin-top: 10px;
    text-align: left;
}

@media screen and (max-width: 860px) {
    .footer_wrapper_logo{
        width: 100%;

    }

}

#logo_footer {
    width: 75px;
    height: 75px;
    background-image: url(../images/logo_AK_white_75x75.png);
    background-repeat: no-repeat;
    margin: 13px 0px 0px 30px;
    float: left;
    clear: right;
}

#footer_wrapper_text {
    border-left: solid 1px rgb(0, 144, 255);
    border-right: solid 1px rgb(0, 144, 255);
    padding: 0px 27px 0px 42px;
    float: left;
    margin: 13px 0px 0px 40px;
}

.footer_info {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 100;
    color: white;
    margin-bottom: 7px;
}

/* FOOTER ICON STYLES */

#footer_icon_wrapper {
    margin: 2.5% 0;
    /* border: green solid 2px; */
    float: left;
    width: 45%;
    margin-left: 10%;
}

@media screen and (max-width: 1050px) {
    #footer_icon_wrapper{
        margin-left: 1%;
    }
}

@media screen and (max-width: 860px) {
    #footer_icon_wrapper{
        width: 100%;
        margin: 25px auto;
    }

}

.icon_position {
    /* border: solid 1px red; */
    padding: 3px;
    margin-left: 13%;
}

#footer_gmail{
	height: 50px;
	width: 50px;
	background-image: url(../images/gmail2_icon_white_circle_130x130.png);
	background-size: 85%;
	background-repeat: no-repeat;
	float: left;
}

#footer_linkedin{
	height: 50px;
	width: 50px;
	background-image: url(../images/linkedin_icon_white_130x130.png);
	background-size: 85%;
	background-repeat: no-repeat;
	float: left
}

#footer_resume{
	height: 50px;
	width: 50px;
	background-image: url(../images/resume_icon_white_circle_130x130.png);
	background-size: 85%;
	background-repeat: no-repeat;
	float: left
}


/*/////// FOOTER LINK SYLES ////////*/

a {
	text-decoration: none;
}
a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    background-color: rgba(0,144,255);
}
a:active {
    text-decoration: none;
}

.back_to_top {
    font-size: 20px;
    display: inline-block;
    margin-top: 3.5%;
        padding-bottom: 35px;
    /* border: 1px solid yellow; */
}

@media screen and (max-width: 500px) {
    .back_to_top{
        padding-bottom: 35px;

    }

}

.blue_span{
	color: rgb(0, 144, 255);
}



